div.formCard {
    background-color: #4C5C68;
    padding: 20px 40px 8px 2px;
    border-radius: 5px;
}

label.formLabel {
    color: #A6A2A2;
    font-size: 18px;
}

p.formHeader {
    padding-left: 40px;
    font-size: 32px;
    color: #25223C;
}

.form-control{
    background-color:#2B4141;
    color: #C8C2AE;
}

.form-control:focus{
    background-color:#636B61;
    color: #E3D7FF;
}

::placeholder {
  color: rgba(185, 216, 194, 0.4) !important;
}
