body {
  background-image: url("/static/images/background/task-create-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

div.taskCard {
  background-color: #472d309e;
  padding: 20px 40px 8px 2px;
  border-radius: 5px;
}

.taskLabel {
  color: #A6A2A2;
  font-size: 18px;
}

p.taskHeader {
  padding-left: 40px;
  font-size: 32px;
  color: #C44536D9;
}

.taskValue {
  color: #C8C2AE;
  font-size: 18px;
}

.taskValue:focus {
  color: #E3D7FF;
}

#taskDetails {
  white-space: pre;
}

div.applicantListDiv {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

div.applicantDiv {
  margin: 7px auto 7px auto;
  background-color: blanchedalmond;
}

.applicantListHeader {
  font-weight: bold;
  color: whitesmoke;
  font-size: larger;
}
